<form [formGroup]="examinationsForm">
    <div class="row">
        <div class="col-12">
            <hrs-widget>
                <div widget-header>
                    <h2>General Examinations</h2>
                </div>
                <div widget-content formGroupName="generalexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="BP" controllabel="BP">
                                    <div class="input-group">
                                        <input type="text" aria-label="bpsystolic" class="form-control form-control-lg"
                                            placeholder="Systolic" id="bpsystolic" formControlName="bpsystolic">
                                        <input type="text" aria-label="bpdiastolic" class="form-control form-control-lg"
                                            placeholder="Diastolic" id="bpdiastolic" formControlName="bpdiastolic">
                                        <div class="input-group-append">
                                            <span class="input-group-text">mmHG</span>
                                        </div>
                                    </div>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="Pulse" controllabel="Pulse">
                                    <div class="input-group">
                                        <input type="text" aria-label="From" class="form-control form-control-lg"
                                            placeholder="From" id="from" formControlName="pulsefrom">
                                        <input type="text" aria-label="To" class="form-control form-control-lg"
                                            placeholder="To" id="to" formControlName="pulseto">
                                        <div class="input-group-append">
                                            <span class="input-group-text">beats/min</span>
                                        </div>
                                    </div>
                                </hrs-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="Icterus" controllabel="">
                                    <hrs-toggle-button formControlName="icterus" id="icterus" label="Icterus">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="Pallor" controllabel="">
                                    <hrs-toggle-button formControlName="pallor" id="pallor" label="Pallor">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="LN" controllabel="">
                                    <hrs-toggle-button formControlName="ln" id="ln" label="LN">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="Neurofibroma" controllabel="">
                                    <hrs-toggle-button formControlName="neurofibroma" id="neurofibroma"
                                        label="Neurofibroma">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="SkinPatch" controllabel="">
                                    <hrs-toggle-button formControlName="skinpatch" id="skinpatch" label="Skin Patch">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                        </div>
                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Neurological Examinations</h2>
                </div>
                <div widget-content formGroupName="neurologicalexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="MMSE" controllabel="MMSE">
                                    <hrs-file-upload formControlName="mmse"></hrs-file-upload>
                                </hrs-form-group>
                            </div>

                        </div>

                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Behaviour Examinations</h2>
                </div>
                <div widget-content formGroupName="behaviorexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="increasedrage" controllabel="">
                                    <hrs-toggle-button formControlName="increasedrage" id="increasedrage"
                                        label="Increased Rage?">
                                    </hrs-toggle-button>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="behaviordescription" controllabel="Behavior Description">
                                    <textarea class="form-control form-control-lg" id="behaviordescription" rows="3"
                                        formControlName="behaviordescription"></textarea>
                                </hrs-form-group>
                            </div>
                        </div>
                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Cranial Nerve Examinations</h2>
                </div>
                <div widget-content formGroupName="cranialnerveexaminations">
                    <hrs-content-container>
                        <table class="table table-sm m-0 table-striped">
                            <thead class="bg-primary-500">
                                <tr>
                                    <th>Nerves</th>
                                    <th>Left</th>
                                    <th>Right</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row" class="align-middle">1</th>
                                    <td>
                                        <select class="form-control" formControlName="nerve1left" id="nerve1left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="nerve1right" id="nerve1right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">2</th>
                                    <td><select class="form-control" formControlName="nerver2left" id="nerver2left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td><select class="form-control" formControlName="nerver2right" id="nerver2right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">3, 4, 6</th>
                                    <td><select class="form-control" formControlName="nerver346left" id="nerver346left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="nerver346right"
                                            id="nerver346right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">5</th>
                                    <td><select class="form-control" formControlName="nerver5left" id="nerver5left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td><select class="form-control" formControlName="nerver5right" id="nerver5right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">7</th>
                                    <td><select class="form-control" formControlName="nerver7left" id="nerver7left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td><select class="form-control" formControlName="nerver7right" id="nerver7right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">8</th>
                                    <td><select class="form-control" formControlName="nerver8left" id="nerver8left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td>
                                        <select class="form-control" formControlName="nerver8right" id="nerver8right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">9, 10</th>
                                    <td><select class="form-control" formControlName="nerver910left" id="nerver910left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td><select class="form-control" formControlName="nerver910right"
                                            id="nerver910right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">11</th>
                                    <td><select class="form-control" formControlName="nerver11left" id="nerver11left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td><select class="form-control" formControlName="nerver11right" id="nerver11right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>

                                </tr>
                                <tr>
                                    <th scope="row" class="align-middle">12</th>
                                    <td><select class="form-control" formControlName="nerver12left" id="nerver12left">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select></td>
                                    <td>
                                        <select class="form-control" formControlName="nerver12right" id="nerver12right">
                                            <option [value]="null" disabled>Choose an item</option>
                                            <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                                {{status.Value}}
                                            </option>
                                        </select>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Motor System</h2>
                </div>
                <div widget-content formGroupName="motorsystemexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="gait" controllabel="GAIT">
                                    <textarea class="form-control form-control-lg" id="gait" rows="3"
                                        formControlName="gait"></textarea>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="behaviordescription" controllabel="Tone">
                                    <select class="form-control form-control-lg" formControlName="tone" id="tone">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let tone of getToneTypes()" [value]="tone.Key">
                                            {{tone.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" formGroupName="power">
                                <hrs-form-group controlname="Power" controllabel="Power">
                                    <table class="table table-sm m-0">
                                        <thead class="bg-primary-500">
                                            <tr>
                                                <th></th>
                                                <th>Left</th>
                                                <th>Right</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="align-middle">Shoulder</th>
                                                <td>
                                                    <select class="form-control form-control-lg"
                                                        formControlName="leftshoulder" id="leftshoulder">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select>
                                                </td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightshoulder" id="rightshoulder">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Elbow</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="leftelbow" id="leftelbow">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightelbow" id="rightelbow">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>

                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Hand grip</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="lefthandgrip" id="lefthandgrip">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="righthandgrip" id="righthandgrip">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Lower Limb</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="leftlowerlimb" id="leftlowerlimb">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightlowerlimb" id="rightlowerlimb">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Hip</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="lefthip" id="lefthip">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="righthip" id="righthip">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>

                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Knee</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="leftknee" id="leftknee">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightknee" id="rightknee">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">Foot</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="leftfoot" id="leftfoot">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightfoot" id="rightfoot">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="align-middle">EHL</th>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="leftehi" id="leftehi">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                                <td><select class="form-control form-control-lg"
                                                        formControlName="rightehi" id="rightehi">
                                                        <option [value]="null" disabled>Choose an item</option>
                                                        <option *ngFor="let power of getPowerMeasure()"
                                                            [value]="power.Key">
                                                            {{power.Value}}
                                                        </option>
                                                    </select></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </hrs-form-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="reflex" controllabel="Reflex - DTR">
                                    <select class="form-control form-control-lg" formControlName="reflex" id="reflex">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let reflex of getReflexValues()" [value]="reflex.Key">
                                            {{reflex.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                        </div>
                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Sensory System</h2>
                </div>
                <div widget-content formGroupName="sensorysystemexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="upperlimb" controllabel="Upper Limb">
                                    <select class="form-control form-control-lg" formControlName="upperlimb"
                                        id="upperlimb">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="upperlimb" controllabel="Note">
                                    <hrs-textbox type="text" id="upperlimbnote" placeholder=""
                                        formControlName="upperlimbnote">
                                    </hrs-textbox>
                                </hrs-form-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="chest" controllabel="Chest">
                                    <select class="form-control form-control-lg" formControlName="chest" id="chest">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="chestnote" controllabel="Note">
                                    <hrs-textbox type="text" id="chestnote" placeholder="" formControlName="chestnote">
                                    </hrs-textbox>
                                </hrs-form-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="abdomen" controllabel="Abdomen">
                                    <select class="form-control form-control-lg" formControlName="abdomen" id="abdomen">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="abdomennote" controllabel="Note">
                                    <hrs-textbox type="text" id="abdomennote" placeholder=""
                                        formControlName="abdomennote">
                                    </hrs-textbox>
                                </hrs-form-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="lowerlimb" controllabel="Lower Limb">
                                    <select class="form-control form-control-lg" formControlName="lowerlimb"
                                        id="lowerlimb">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="lowerlimbnote" controllabel="Note">
                                    <hrs-textbox type="text" id="lowerlimbnote" placeholder=""
                                        formControlName="lowerlimbnote">
                                    </hrs-textbox>
                                </hrs-form-group>
                            </div>
                        </div>

                    </hrs-content-container>
                </div>
            </hrs-widget>

            <hrs-widget>
                <div widget-header>
                    <h2>Cerebellar System</h2>
                </div>
                <div widget-content formGroupName="cerebellarsystemexaminations">
                    <hrs-content-container>
                        <div class="row">
                            <div class="col-6">
                                <hrs-form-group controlname="status" controllabel="Status">
                                    <select class="form-control form-control-lg" formControlName="status" id="status">
                                        <option [value]="null" disabled>Choose an item</option>
                                        <option *ngFor="let status of getHealthStatus()" [value]="status.Key">
                                            {{status.Value}}
                                        </option>
                                    </select>
                                </hrs-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <hrs-toggle-button formControlName="vertigostatus" label="Vertigo" id="vertigostatus">
                                </hrs-toggle-button>
                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Left" controllabel="Left">
                                    <hrs-textbox type="text" id="vertigoleftnote" placeholder=""
                                        formControlName="vertigoleftnote">
                                    </hrs-textbox>
                                </hrs-form-group>
                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Right" controllabel="Right">
                                    <hrs-textbox type="text" id="vertigorightnote" placeholder=""
                                        formControlName="vertigorightnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <hrs-toggle-button formControlName="pastpointingstatus" label="Past Pointing"
                                    id="pastpointingstatus">
                                </hrs-toggle-button>
                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Left" controllabel="Left">
                                    <hrs-textbox type="text" id="pastpointingleftnote" placeholder=""
                                        formControlName="pastpointingleftnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Right" controllabel="Right">
                                    <hrs-textbox type="text" id="pastpointingrightnote" placeholder=""
                                        formControlName="pastpointingrightnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <hrs-toggle-button formControlName="dysdiadochokinesiastatus" label="Dysdiadochokinesia"
                                    id="dysdiadochokinesiastatus">
                                </hrs-toggle-button>
                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Left" controllabel="Left">
                                    <hrs-textbox type="text" id="dysdiadochokinesialeftnote" placeholder=""
                                        formControlName="dysdiadochokinesialeftnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Right" controllabel="Right">
                                    <hrs-textbox type="text" id="dysdiadochokinesiarightnote" placeholder=""
                                        formControlName="dysdiadochokinesiarightnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <hrs-toggle-button formControlName="nystagmusstatus" label="Nystagmus"
                                    id="nystagmusstatus">
                                </hrs-toggle-button>
                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Left" controllabel="Left">
                                    <hrs-textbox type="text" id="nystagmusleftnote" placeholder=""
                                        formControlName="nystagmusleftnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                            <div class="col-4">
                                <hrs-form-group controlname="Right" controllabel="Right">
                                    <hrs-textbox type="text" id="nystagmusrightnote" placeholder=""
                                        formControlName="nystagmusrightnote">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-6">
                                <hrs-form-group controlname="Skull" controllabel="Skull">
                                    <hrs-textbox type="text" id="skull" placeholder="" formControlName="skull">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                            <div class="col-6">
                                <hrs-form-group controlname="Spine" controllabel="Spine">
                                    <hrs-textbox type="text" id="spine" placeholder="" formControlName="spine">
                                    </hrs-textbox>
                                </hrs-form-group>

                            </div>
                        </div>
                    </hrs-content-container>
                </div>
            </hrs-widget>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            <!-- <button id="addngo" type="button" (click)="addComorbidities()"
                class="btn btn-lg btn-success waves-effect waves-themed float-right">
                Save & Continue
            </button> -->
        </div>
    </div>
</form>
