<div class="row">
    <div class="col-12 profilebg">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
                <div class="col-lg-6">
                    <div class="display-4 color-primary-500 font-weight-800">
                        <span class="color-primary-900">I am
                        </span>Geo Senil</div>
                    <h5 class="color-primary-500">Professional Nuerologist</h5>
                    <p class="color-primary-500">I love checking patients and diagnose diseases easily with my epxperiece.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row altbg">
    <div class="col-12 bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-4 d-none d-sm-block">
                    <img src="https://via.placeholder.com/300x450?text=Placeholder+Image"/>
                </div>
                <div class="col-md-8 col-sm-12 align-self-center py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row text-white">
                        <div class="col-12">
                            <h2 class="font-weight-800">Here is some word about me</h2>
                        </div>
                    </div>
                    <div class="row color-primary-50">
                        <div class="col-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <a class="mr-2 fs-xxl" href="javascript:void(0);" style="color:#fff">
                            <fa-icon [icon]="faFacebookSquare"></fa-icon>
                        </a>
                        <a class="mr-2 fs-xxl" href="javascript:void(0);" style="color:#fff">
                            <fa-icon [icon]="faTwitterSquare"></fa-icon>
                        </a>
                        <a class="mr-2 fs-xxl" href="javascript:void(0);" style="color:#fff">
                            <fa-icon [icon]="faLinkedin"></fa-icon>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row justify-content-end align-items-center">
                <div class="col-2">
                    <h1 class="vericaltext color-primary-50 font-weight-800">
                        <span class="text-white">MY</span>
                        SERVICES</h1>
                </div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                    <div class="row row-flex">
                        <div class="col mb-g">
                            <div
                                class="card border mb-g h-100">
                                <!-- notice the additions of utility paddings and display properties on .card-header -->
                                <div
                                    class="card-header bg-trans-gradient pr-3 d-flex align-items-center flex-wrap">
                                    <!-- we wrap header title inside a span tag with utility padding -->
                                    <div class="card-title text-white">Brain Tumours</div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Brain tumors are treated with surgery, radiation therapy and chemotherapy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-g">
                            <div
                                class="card border mb-g h-100">
                                <!-- notice the additions of utility paddings and display properties on .card-header -->
                                <div
                                    class="card-header bg-trans-gradient pr-3 d-flex align-items-center flex-wrap">
                                    <!-- we wrap header title inside a span tag with utility padding -->
                                    <div class="card-title text-white">Intracerebral Bleeding</div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Treatment within the first three hours of the onset of symptoms generally results in a better outcome. 
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    Surgery can relieve pressure on your brain and repair torn arteries.</p>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col mb-g">
                            <div
                                class="card border mb-g h-100">
                                <!-- notice the additions of utility paddings and display properties on .card-header -->
                                <div
                                    class="card-header bg-trans-gradient pr-3 d-flex align-items-center flex-wrap">
                                    <!-- we wrap header title inside a span tag with utility padding -->
                                    <div class="card-title text-white">Spine Trauma</div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Surgery to remove fluid or tissue that presses on thespinal cord
                                                                                                                                                                                                                                                                                                                                                                                                                                             (decompression laminectomy); remove bone fragments, disk fragments, or foreign objects; fuse broken spinal bones; or place spinal braces.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-g">
                            <div
                                class="card border mb-g h-100">
                                <!-- notice the additions of utility paddings and display properties on .card-header -->
                                <div
                                    class="card-header bg-trans-gradient pr-3 d-flex align-items-center flex-wrap">
                                    <!-- we wrap header title inside a span tag with utility padding -->
                                    <div class="card-title text-white">Disc Disease</div>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Treatment may include occupational therapy, physical therapy, or both, special exercises, 
                                                                                                                                                                                                                                                                                                                                                                                                                                            medications, losing weight, and surgery.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


<div class="row altbg">
    <div class="col-12">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row justify-content-end align-items-center">
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge bg-success-700">
                                <fa-icon [icon]="faBookMedical"></fa-icon>
                            </div>
                            <div class="timeline-panel bg-success-700">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title font-weight-800">MBBS
                                        <span>|</span>
                                        1998</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>From Armed Forces Medical College, Pune</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge bg-warning-700">

                                <fa-icon [icon]="faCut"></fa-icon>
                            </div>
                            <div class="timeline-panel bg-warning-700">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title font-weight-800">MS (General Surgery)
                                        <span>|</span>
                                        2005</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>From Govt. Medical College, Calicut
                                    </p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge bg-danger-700">
                                <fa-icon [icon]="faBrain"></fa-icon>
                            </div>
                            <div class="timeline-panel bg-danger-700">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title font-weight-800">MCh (Neuro Surgery)
                                        <span>|</span>
                                        2014</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>From Govt. Medical College, Thrissur</p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-2">
                    <h1 class="vericaltext color-primary-50 font-weight-800">
                        <span class="text-white">MY</span>
                        EDUCATION</h1>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row justify-content-end align-items-center">
                <div class="col-2">
                    <h1 class="vericaltext color-primary-50 font-weight-800">
                        <span class="text-white">MY</span>
                        EXPERIENCE</h1>
                </div>
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                    <div class="row">
                        <div class="col">
                            <div class="card mb-g bg-primary text-white text-center p-3">
                                <blockquote class="blockquote mb-0">
                                    <h2 class="font-weight-800">Associate Professor in the Dept Of Neurosurgery</h2>
                                    <h5 class="">Govt Medical College Tsr</h5>
                                    <h4 class="font-weight-800">2009 - Present</h4>
                                </blockquote>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <div class="card mb-g bg-primary text-white text-center p-3">
                                <blockquote class="blockquote mb-0">
                                    <h2 class="font-weight-800">Registrar in Dept of Neurosurgery</h2>
                                    <h5 class="">Aster MIMS Hospital Calicut</h5>
                                    <h4 class="font-weight-800">2005 - 2009</h4>
                                </blockquote>
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col">
                            <div class="card mb-g bg-primary text-white text-center p-3">
                                <blockquote class="blockquote mb-0">
                                    <h2 class="font-weight-800">Junior Resident in Dept of Neurosurgery</h2>
                                    <h5 class="">Trichur Heart Hospital</h5>
                                    <h4 class="font-weight-800">1999 - 2001</h4>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="row altbg">
    <div class="col-12">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row justify-content-end align-items-center">
                <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                    <form>
                        <div class="row form-group">
                            <div class="col-6">
                                <input class="form-control" id="simpleinput" placeholder="Full Name" type="text">
                            </div>
                            <div class="col-6">
                                <input class="form-control" id="simpleinput" placeholder="Email" type="email">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12">
                                <input class="form-control" id="simpleinput" placeholder="Subject" type="text">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12">
                                <textarea placeholder="Message" class="form-control"  id="behaviordescription" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12 text-center">
                                <button type="button" class="btn btn-success btn-pills waves-effect waves-themed text-white">CONTACT</button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-2">
                    <h1 class="vericaltext color-primary-50 font-weight-800">
                        <span class="text-white">CONTACT</span>
                        ME</h1>
                </div>
            </div>

        </div>
    </div>
</div>
