<div class="row">
  <div class="col-lg-6 col-xl-6 order-lg-1 order-xl-1">
      <div class="card mb-g rounded-top">
          <div class="row no-gutters row-grid">
              <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center p-4">
                      <img src="img/demo/avatars/avatar-admin-lg.png" class="rounded-circle shadow-2 img-thumbnail" alt="">
                      <h5 class="mb-0 fw-700 text-center mt-3">
                          Dr. Senil
                          <small class="text-muted mb-0">Thrissur, Kerala</small>
                      </h5>
                      <div class="mt-4 text-center demo">

                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6 order-lg-2 order-xl-2">
      <div class="card mb-g rounded-top">
          <div class="row no-gutters row-grid">
              <div class="col-12">
                  <div class="d-flex flex-column align-items-center justify-content-center p-4">
                      <img src="img/demo/avatars/avatar-admin-lg.png" class="rounded-circle shadow-2 img-thumbnail" alt="">
                      <h5 class="mb-0 fw-700 text-center mt-3">
                          Dr. Senil
                          <small class="text-muted mb-0">Thrissur, Kerala</small>
                      </h5>
                      <div class="mt-4 text-center demo">

                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
