<div class="row">
  <div class="col col-md-6 col-lg-7 hidden-sm-down">
    <h2 class="fs-xxl fw-500 mt-4 text-white">
      The simplest UI toolkit for developers &amp; programmers
      <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
        Presenting you with the next level of innovative UX design and
        engineering. The most modular toolkit available with over 600+ layout
        permutations. Experience the simplicity of SmartAdmin, everywhere you
        go!
      </small>
    </h2>
    <a href="#" class="fs-lg fw-500 text-white opacity-70"
      >Learn more &gt;&gt;</a
    >
    <div
      class="d-sm-flex flex-column align-items-center justify-content-center d-md-block"
    >
      <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
        Find us on social media
      </div>
      <div class="d-flex flex-row opacity-70">
        <a href="#" class="mr-2 fs-xxl text-white">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#" class="mr-2 fs-xxl text-white">
          <i class="fab fa-twitter-square"></i>
        </a>
        <a href="#" class="mr-2 fs-xxl text-white">
          <i class="fab fa-google-plus-square"></i>
        </a>
        <a href="#" class="mr-2 fs-xxl text-white">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5 ml-auto">
    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
      Secure login
    </h1>
    <div class="card p-4 rounded-plus bg-faded">
      <form id="js-login" (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <hrs-form-group controlname="username" controllabel="User Name">
          <hrs-textbox
            type="email"
            id="username"
            placeholder="Your email"
            formControlName="username"
            [isInValid]="(username.dirty || username.touched) && username.invalid"
          ></hrs-textbox>
          <hrs-validation-message message="Please fill your username" *ngIf="(username.dirty || username.touched) && username.invalid && !!username.errors.required"></hrs-validation-message>
          <hrs-validation-message message="Please fill a valid email" *ngIf="(username.dirty || username.touched) && username.invalid && !!username.errors.email"></hrs-validation-message>
          <div class="help-block">Your unique username to login</div>
        </hrs-form-group>
        <hrs-form-group controlname="password" controllabel="Password">
          <hrs-textbox
            type="password"
            [id]="'password'"
            placeholder="Your password"
            formControlName="password"
            [isInValid]="(password.dirty || password.touched) && password.invalid"
          ></hrs-textbox>
          <hrs-validation-message message="Please fill your password" *ngIf="(password.dirty || password.touched) && password.invalid && !!password.errors.required"></hrs-validation-message>

          <div class="help-block">Your password</div>
        </hrs-form-group>

        <div class="form-group text-left">
          <a [routerLink]="['/auth', 'forgotpassword']" class="fs-lg"
            >Forgot Password</a
          >
        </div>
        <div class="row no-gutters">
          <div class="col-lg-12 my-2">

            <hrs-button id="js-login-btn"
            type="submit"
            class="btn-block"
            classes="btn btn-danger btn-block btn-lg waves-effect waves-themed"
            [disabled]="!userForm.valid" text="Secure Login" ></hrs-button>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
