@import "_modules/variables";


  
  input[type="checkbox"] {
    display: none; 
  }

  
  .toggle-button-switch {
    position: relative;
    top: 52px;
    left: 33px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    z-index: 100;
    transition: left 0.3s;
}

  
  .toggle-button-text {
    overflow: hidden;
    background-color: $color-danger;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    transition: background-color 0.3s;
    width: 75px;
  }

  
  .toggle-button-text-on,
  .toggle-button-text-off {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 40px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: $white;
    text-align: center;
  }

  
  input[type="checkbox"]:checked ~ .toggle-button-switch {
    left: 0px;
  }

  
  input[type="checkbox"]:checked ~ .toggle-button-text {
    background-color: $color-success;
  }

  input[type="checkbox"]:disabled ~ .toggle-button-text {
    background-color: $disabled;
    cursor: not-allowed;
  }

  input[type="checkbox"]:disabled ~ .toggle-button-switch {
    cursor: not-allowed;
  }