<table datatable [dtOptions]="dtOptions" class="table m-0 table-bordered table-dark table-sm table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Mobile</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="patients?.length != 0">
      <tr *ngFor="let patient of patients">
          <td>{{ patient.Id }}</td>
          <td>{{ patient.FullName }}</td>
          <td>{{ patient.Age}} Years</td>
          <td>{{ patient.Mobile }}</td>
          <td>{{ patient.Email }}</td>
          <td><a (click)="EditPatient(patient)">Edit</a></td>
          <td><a (click)="SetCurrentPatient(patient);open(content);">Remove</a></td>
          <td><a (click)="AddConsultation(patient)">Add Consultation</a></td>
      </tr>
  </tbody>
  <tbody *ngIf="patients?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Remove Patient</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true"><i class="fal fa-times"></i></span>
    </button>
</div>
<div class="modal-body">
    Modal text description...
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('close button click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="RemovePatient();modal.close('Save click')" >Save changes</button>
</div>
</ng-template>

