<table datatable [dtOptions]="dtOptions" class="table m-0 table-bordered table-dark table-sm table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>DOB</th>
      <th>Mobile</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="patients?.length != 0">
      <tr *ngFor="let patient of patients">
          <td>{{ patient.Id }}</td>
          <td>{{ patient.FullName }}</td>
          <td>{{ patient.DOB | date: 'mediumDate' }}</td>
          <td>{{ patient.Mobile }}</td>
          <td>{{ patient.Email }}</td>
          <td><a (click)="EditPatient(patient)">Edit</a></td>
          <td><a (click)="RemovePatient(patient)">Remove</a></td>
      </tr>
  </tbody>
  <tbody *ngIf="patients?.length == 0">
    <tr>
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  <tbody>
</table>
